* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spin-center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.daily-forecast {
  display: flex;
  justify-content: space-between;
}

.show-temperature {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.show-temperature h1 {
  font-weight: bold;
  margin-right: 10px;
  font-size: 60px;
}

.presssure-humidity-stats {
  display: flex;
  justify-content: space-between;
}

.pressure-stats,
.humidity-stats {
  background-color: #f5faff;
  flex-basis: 49%;
  padding: 10px 0px 20px 30px;
}

.graph-container {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 0px 20px;
  margin-top: 30px;
  border-radius: 8px;
}

@media (max-width: 991px) {
  .daily-forecast {
    overflow-x: scroll;
  }
}
